/* Sass Document */
#rotator {
  position: absolute;
  display: block;
  width: 1160px;
  height: 320px;
  margin: 0px;
  padding: 0px;
  left: -20px;
  top: 180px;
  z-index: 2;
  overflow: hidden;
  box-shadow: -5px 5px 5px black; }

#empty, h1, .news, #news, .news_img, .text, div {
  position: relative; }

#h2 {
  text-indent: 2em;
  text-align: justify;
  font: 2em poiretone, sans-serif;
  color: #60432c;
  margin-top: 0px; }

#empty {
  width: 810px;
  height: 310px;
  margin: 0;
  padding: 0;
  display: block; }

h1 {
  font: 2.8em poiretone, sans-serif;
  color: #60432c;
  margin: 15px 0; }

#news {
  padding: 0 0 20px 0;
  margin: 0px 0;
  top: -15px; }

.news {
  height: 200px;
  margin: 40px 0;
  padding: 0; }

.text {
  width: 518px;
  height: 200px;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
  background: #799f4b;
  text-align: justify; }

.text > div {
  width: 500px;
  height: 200px;
  margin: 0px 10px;
  padding: 0px;
  overflow: hidden; }

.news_img {
  width: 280px;
  height: 200px;
  margin: 0;
  padding: 0;
  float: left;
  background: #799f4b; }

.text > div > span {
  font: 1.7em poiretone, sans-serif;
  color: white;
  margin-left: 10px;
  text-decoration: underline; }

.text > div > .p {
  font: 1.3em poiretone, sans-serif;
  color: white;
  text-decoration: none; }

#second_d {
  top: 260px;
  padding: 0;
  margin: 0px 0;
  position: relative; }

#second_d div {
  display: block;
  margin: 30px 0 30px 0;
  padding: 0 0 0px 0; }

#second_a h3 {
  display: block;
  color: white;
  font: 2em poiretone, sans-serif;
  margin: 0px auto;
  padding: 0;
  top: 60px;
  position: relative;
  text-align: center; }

.second_d div a {
  position: relative;
  width: 238px;
  margin: 0px auto;
  padding: 0; }

#second_d div a {
  display: block;
  width: 239px;
  padding: 0;
  margin: 0px auto;
  background: white;
  box-shadow: -5px 5px 5px black; }

#second_d div a img {
  display: block;
  width: 239px; }

#second_d div a:hover {
  box-shadow: none;
  border: none; }

#second_a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 270px;
  top: 200px; }
