/* Sass Document */
/*@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/comfortaa/comfortaaRegular.ttf");}*/
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/comfortaa/comfortaaRegular.ttf");
  src: url("../fonts/comfortaa/ComfortaaRegular.eot");
  src: url("../fonts/comfortaa/ComfortaaRegular.woff2") format("woff2");
  src: url("../fonts/comfortaa/ComfortaaRegular.woff") format("woff");
  src: url("../fonts/comfortaa/ComfortaaRegular.svg#Comfortaa-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PoiretOne";
  src: url("../fonts/poiretone/PoiretOneRegular.ttf"); }
@font-face {
  font-family: "PoiretOne";
  src: url("../fonts/poiretone/PoiretOneNormal.eot");
  src: url("../fonts/poiretone/PoiretOneNormal.woff2") format("woff2");
  src: url("../fonts/poiretone/PoiretOneRegular.woff") format("woff");
  src: url("../fonts/poiretone/PoiretOneRegular.svg#PoiretOneNormal") format("svg");
  font-weight: normal;
  font-style: normal; }
