/* Sass Document */
nav ul li ul {
  position: absolute;
  display: block;
  margin: -50px 0;
  padding: 60px 0;
  width: 100%;
  z-index: -1;
  bottom: 180px; }

nav ul li ul li {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1px 0;
  padding: 0;
  background: #799f4b;
  box-shadow: -5px 1px 5px black;
  border-radius: 0;
  cursor: pointer; }

nav ul li ul li:last-of-type {
  border-radius: 0 0 25px 25px;
  background: #799f4b; }

nav ul li ul li span {
  position: relative;
  bottom: 30px;
  left: 15px;
  margin: 0px 0;
  padding: 0;
  color: white;
  font-size: 0.5em;
  box-shadow: none; }

.li {
  background: #5c7939;
  box-shadow: -5px 5px 5px black; }

.li:last-of-type {
  box-shadow: -5px 5px 5px black;
  background: #5c7939; }
