* {
  clear: none; }

html, body, header, header > img, nav, nav ul, footer {
  margin: 0 auto;
  padding: 0; }

body, header, header > img, nav, nav ul, footer {
  position: relative;
  width: 1280px; }

header {
  background: #60432c; }

header > img {
  display: block; }

nav, nav ul {
  height: 50px; }

nav ul li {
  float: left;
  margin: 0px 41px 0 41px;
  padding: 0px;
  height: 50px;
  list-style: none;
  font: 2em Comfortaa, sans-serif;
  border-radius: 0 0 25px 25px;
  top: 0px;
  z-index: 2; }

nav ul li a {
  color: white;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 10px 40px;
  position: relative;
  box-shadow: -5px 5px 7px black;
  border-radius: 0 0 25px 25px;
  background: #799f4b; }

nav ul li a:focus, .a {
  box-shadow: none;
  background: #5c7939; }

#line {
  margin: 0;
  width: 1280px;
  height: 50px; }

#exit {
  float: right;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 50px;
  background: #799f4b;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 7px black;
  z-index: 1; }

#exit:focus {
  box-shadow: -1px 1px 1px 1px black;
  background: #5c7939; }

#exit_img {
  width: 40px;
  height: 40px;
  background: url("../images/sprite.png") -80px 0 no-repeat;
  top: 5px; }

#user, #weather, #location, #time, #data {
  position: relative;
  margin: 0;
  padding: 0;
  float: right;
  height: 50px; }

#user, #weather, #location {
  width: 360px; }

#location {
  width: 320px; }

#time {
  width: 80px; }

#data {
  width: 120px; }

section {
  margin: 0 auto;
  padding: 0;
  idth: 1280px;
  background: url("../images/old-paper.jpg") repeat;
  overflow: hidden; }

#block {
  margin: 0 60px;
  padding: 0 0;
  width: 1160px; }

footer {
  height: 50px;
  background: #60432c;
  text-align: right;
  z-index: -1;
  width: auto; }

footer > span {
  font: 1.5em Comfortaa, sans-serif;
  color: white;
  margin: 0 40px 0 0;
  padding: 0;
  top: 8px; }

table, #first, #second, #first_b, #block, footer > span, section, #exit_img, #exit, #line, nav ul li {
  position: relative; }

table {
  top: 0;
  margin: -2px 0px;
  padding: 0 0px; }

#first {
  width: 810px;
  padding: 5px 0 0 0;
  margin: 5px 0 0 0; }

#second {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;
  background: #b2957e;
  left: 20px; }

#first_b {
  width: 810px;
  margin: 0px 0 -40px 0;
  padding: -10px 0;
  top: 0; }

#data, #time, #location, #weather, #user {
  position: relative;
  color: white;
  font: 1.3em Comfortaa, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; }

.header_bottom {
  margin: 12px 0; }

#data, #weather {
  background: #7a5a40; }

#up {
  position: fixed;
  width: 80px;
  height: 80px;
  margin: -48px 1185px;
  padding: 0;
  border-radius: 45px;
  border: 5px solid #5c7939;
  background: #799f4b;
  bottom: 100px;
  float: right;
  z-index: 2;
  cursor: pointer;
  opacity: 0; }

#up > a > div {
  display: block;
  width: 40px;
  height: 80px;
  background: url("../images/sprite.png") -80px -40px no-repeat;
  margin: 0 auto;
  padding: 0; }

#up:hover {
  background: #5c7939;
  border: 5px solid #799f4b;
  box-shadow: -2px 2px 5px black inset; }
